.post {
  margin-bottom: 50px;
  padding-bottom: 20px;
  border-bottom: #EBF2F6 1px solid;
  word-break: break-word;
  hyphens: auto;

  .post-title {
    font-size: 35px !important;
    line-height: 1.2em !important;
    letter-spacing: -1px !important;
    text-indent: -2px !important;

    margin:0;
    a {
      text-decoration: none;
    }
  }

  .post-excerpt p {
    margin: 1.6rem 0 0 0;
    line-height: 1.6em;
  }

  .post-meta {
    display: inline-block;
    margin: 0 0 5px 0;
    font-size: 15px;
    color: #9EABB3;

    a {
      color: #9EABB3;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .post-footer {
    border-top: #EBF2F6 1px solid;
    padding-top: 1.6rem;

    .mailing-list {
      display: none;
    }

    h4 {
      font-size: 1.2rem;
    }

    .share {
      h4 {
        margin-bottom: 0.8rem;
      }

      a {
        text-decoration: none;
      }

      text-align: right;
    }
  }

  #disqus_thread {
    margin: 2rem 0 0 0;
  }
}
